header {
	background:#5BF931;
	color:#020202 ;
}

.main {
	background:#f2f2f2;
}


.color1 {
	background: #34495e;
	color:#fff;
}

aside {
	background:#c0392b;
	color:#fff;
}

article {
	background:#BE2174;
}


footer {
	background:#5BF931;
	color:#020202;
}